---
import Layout from "../layouts/Layout.astro";
import Featured from "../components/Featured";
import AllProjects from "../components/AllProjects.tsx";
import CTA from "../components/CTA.astro";
import { projects } from "../data/data";

const featuredProjects = projects.filter((project) => project.metadata.featured);
---

<Layout title="Export3D">
  <main>
    <Featured client:load projects={featuredProjects} />
    <AllProjects client:load projects={projects} />
    <CTA />
  </main>
</Layout>
