---
import Container from "../layouts/Container";
import AboutUsContent from "./AboutUsContent";
---

<Container
  data-section="about"
  id="about"
  classNames="relative min-h-[max-content] overflow-hidden"
>
  {/* Background effects */}
  <div class="absolute inset-0 z-0">
    <div class="absolute inset-0 bg-gradient-to-b from-darkgray/50 to-darkgray"></div>
    <div class="absolute inset-0 bg-[radial-gradient(circle_at_center,rgba(255,255,255,0.03)_0%,transparent_70%)]"></div>
  </div>

  <AboutUsContent client:load />
</Container>

<style>
  /* Subtle animation for the gradient */
  .bg-gradient-to-b {
    animation: gradientShift 15s ease-in-out infinite;
  }

  @keyframes gradientShift {
    0%, 100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
  }
</style>
