---
import Container from "../layouts/Container.tsx";
---

<Container>
  <div class="p-20">
    <h2
      class="text-7xl font-semibold tracking-tight text-white font-kuunari-medium"
    >
      Diseños exportados a la realidad.
    </h2>
    <p class="my-12 text-4xl leading-[60px] text-white font-kuunari-light">
      Somos un estudio especializado en <span class="text-accent font-bold">
        Visualización Arquitectónica</span
      > y <span class="text-accent font-bold">
        Diseño y Dirección de Obra.</span
      >
      <br />
      Nos destacamos por la calidad excepcional de nuestras imágenes, tiempos de
      entrega eficientes y un firme compromiso con cada proyecto.
      <br />
      Nuestro objetivo es <span class="text-accent font-bold">
        convertirnos en aliados estratégicos</span
      > para estudios de arquitectura, ayudándolos a presentar sus ideas con claridad
      e impacto ante sus clientes.
    </p>
  </div>
</Container>
