---
import Container from "../layouts/Container.tsx";
---

<Container data-section="services" id="services" classNames="">
  {/*About Us */}
  <div class="p-20 pb-0">
    <h2
      class="text-[4rem] font-semibold tracking-tight text-white font-kuunari-medium"
    >
      Sobre Nosotros
    </h2>
    <p class="my-12 text-[2rem] leading-[60px] text-white font-kuunari-light">
      Somos un estudio especializado en <span
        class="font-kuunari-bold text-accent"
      >
        Visualización Arquitectónica</span
      > y <span class="font-kuunari-bold text-accent">
        Diseño y Dirección de Obra</span
      >.
      <br />
      Nos destacamos por la calidad excepcional de nuestras imágenes, tiempos de
      entrega eficientes y un firme compromiso con cada proyecto.
      <br />
    </p>
  </div>
</Container>
