---
import background from "../assets/background.jpg";
---

<div class="relative w-[calc(100%-6rem)] h-[calc(100%-6rem)] mx-auto my-12">
  <div class="w-[100%] h-[100%] bg-gradientOverlay absolute z-10 rounded-md">
  </div>
  <img
    class="absolute w-[100%] h-full z-0 rounded-md object-cover"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main class="py-20 ml-20 mx-auto z-20 relative">
    <section class="text-white">
      <h1 class="text-[110px]  font-bold font-kuunari-bold-condensed">
        Export<span class="text-accent">3D</span>.
      </h1>
      <h3 class="text-[35.5px] font-medium font-kuunari-light mt-[-1rem]">
        Selected works 2024 - 2025.
      </h3>
    </section>
  </main>
</div>
